<nav role="navigation">
  {{ if .Site.Menus.main }}
  <!--navigation bar-->
  <ul>
    {{ $currentPage := . }}
    <li><a href="/">Home</a></li>
    {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a class="dropbtn" href="#">{{ .Pre }}<span>{{ .Name }}</span></a>
          <ul class="dropdown-content sub-menu">
            {{ range .Children }}
              <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li>
          <a href="{{ .URL }}">
            {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
      <!--<li class="list f5 f4-ns fw4 dib pr3">
        <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      </li>-->
    {{ end }}
  </ul>
  {{ end }}
</nav>
