<div class="container">
    <hr/>
    <div class="row">
        <div class="col-10 col-lg-5">
            <h3>Main sponsor:</h3>
            <a target="_blank" href="https://prodrive-technologies.com/">
                <img src="/img/sponsors/Prodrive-fullcolor.svg" alt="Prodrive Technologies"/>
            </a>
        </div>
        <div class="offset-lg-2 spacing-lg"></div>
        <div class="col-10 col-lg-5">
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-6 col-lg-4">
            <h4>Partners:</h4>
            <a target="_blank" href="https://www.flowtraders.com">
                <img src="/img/sponsors/Flowtraders-fullcolor.svg" alt="Flow Traders"/>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <div class="empty-head"></div>
            <a target="_blank" href="https://www.tue.nl/en/">
                <img src="/img/sponsors/TUe-fullcolor.svg" alt="Eindhoven University of Technology"/>
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <div class="empty-head"></div>
            <a target="_blank" href="https://ortec.com">
                <img src="/img/sponsors/Ortec-fullcolor.svg" alt="ortec"/>
            </a>
        </div>
    </div>
    <div class="spacing"></div>
    <div class="row">
        <div class="col-4 col-lg-2">
            <h5>Sponsors:</h5>
            <a target="_blank" href="https://www.asml.com/">
                <img src="/img/sponsors/ASML-fullcolor.svg" alt="ASML"/>
            </a>
        </div>
        <div class="offset-lg-3 offset-0"></div>
        <div class="col-4 col-lg-2">
            <div class="empty-head"></div>
            <a target="_blank" href="https://www.imc.com/">
                <img src="/img/sponsors/IMC-fullcolor.svg" alt="IMC"/>
            </a>
        </div>
        <div class="offset-lg-3 offset-0"></div>
        <div class="col-4 col-lg-2">
            <div class="empty-head"></div>
            <a target="_blank" href="https://www.booking.com/">
                <img src="/img/sponsors/Booking-fullcolor.svg" alt="Booking.com"/>
            </a>
        </div>
    </div>
    <hr/>
</div>